.titlebar{
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
      }
      h1 {
        text-shadow: 0px 1px 0px #555;
      }
      .menubar {
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000000), color-stop(.5,#222),color-stop(.5,#161616));
      }
     
      .menuActive {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777), to(#222), color-stop(.5,#444),color-stop(.5,#363636));
      }