.titlebar{
        background-color: #888;
        border: 0px;
        height: 25px
      }
      h1 {
        color: #FFF;
        font: bold 14px Arial, "MS Trebuchet", sans-serif;
        padding: 5px 0;
      }
      .content{
        background-color:#161616;
        color: #999;
      }
    
      .menuIcon {
        -webkit-tap-highlight-color: rgba(42,20,10,20);
      }
      .menuActive {
        -webkit-border-radius: .4em;
        border: 1px solid #111;
        background-color: #444;
      }
